* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Monaco, 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 0.8rem;
    line-height: 1.3;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    color: #1a1a1a;
    background-color: #fff;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
