/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Roboto+Mono&family=Vollkorn&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');



:root {
  --col-text: #e0e0e0;
  --col-dark: #fff;
  --col-bg: #0a0a0a;
  --col-accent: #1a1a1a;
  --col-fade: #333333;
  --col-red: #f33;

  --nav-height: 5rem;

  --font-mono: 'Inter', sans-serif;
  --font-code: 'Inter', sans-serif;
  --font-wide: 'Inter', sans-serif;
  --font-thin: 'Inter', sans-serif;
  --font-serif: 'Inter', sans-serif;

  --fsize: 1rem;
  --fsizesmall: 0.8rem;
  --hsize: 2rem;
  --hssize: 1.25rem;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--col-bg);
  color: var(--col-text);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--col-red);
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  :root {
    --nav-height: 5rem;
  }
}