.navBg {
  width: 100vw;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.navCon {
  width: 100vw;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.navBtnCon {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.navBtn {
  border: none;
  width: fit-content;
  height: fit-content;
  display: block;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-family: var(--font-mono);
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  margin: 0;
  color: var(--col-text);
  background-color: #e0e0e0;
  transition: background-color 0.2s, color 0.2s;
}

.navBtn:hover {
  background-color: #000;
  color: white;
}

.navBtn.active {
  background-color: #000;
  color: white;
}


.navTogBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navBtn {
    font-size: 1rem;
  }

  .navBtnCon {
    gap: 0.5rem;
  }
}